.logo-img{
  width: 30%;
}

img{
  max-height: 129px;
}
@media (max-width: 640px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .oculto {
    display: none;
  }
  /*Este lo puse exclusivamente para la versión móvil*/
  .encabezado {
    width: 640px;
    text-align: center;
  }
}
.capa {
  display: flex;
  flex-direction: row;
}
